 @model IEnumerable<AstroSafar.Models.Category>

<h2>Admin Dashboard</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="CategoryList">Manage Categories</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="CourseList">Manage Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="EnrolledUsers">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="UnitList">Manage Units</a>
    </li>

    </ul> 
<h3>Course Categories</h3>
<ul class="list-unstyled">
    <ul class="list-group">

    @foreach (var category in Model)
    {
            <li class="list-group-item">
                <a asp-action="CategoryDetails" asp-controller="Admin" asp-route-categoryId="@category.Id">@category.Name</a>
        </li>
    }
    </ul>
</ul>
