@* @{
    @model List<AstroSafar.Models.Course>

    @if (Model == null || !Model.Any())
    {
        <p>No courses found.</p>
    }
    else
    {
        @foreach (var course in Model)
        {
            <p>@course.Title</p>
        }
    }
}
 *@